
<br><br><br>

<!-- Thank you nahian91 (https://bootsnipp.com/nahian91) at https://bootsnipp.com/snippets/aRmbz -->

<body>
	<section class="menu_list mt-60 mb-60">
	 <div class="container">
		<div class="row">
		   <div class="col-xl-12">
			  <div class="section-title text-center mb-60">
				 <!--<p>Famous for good food</p>-->
				 <h4>Our Menu</h4>
			  </div>
		   </div>
		</div>
		
		<div class="row">
		   <ul class="nav nav-tabs menu_tab" id="myTab" role="tablist">
			  <li class="nav-item">
				 <a class="nav-link active show" id="bagel-tab" data-toggle="tab" href="#bagel" role="tab" aria-selected="true">Bagels</a>
			  </li>
			  <li class="nav-item">
				 <a class="nav-link" id="bagelwich-tab" data-toggle="tab" href="#bagelwich" role="tab" aria-selected="true">Bagelwiches</a>
			  </li>
			  <li class="nav-item">
				 <a class="nav-link" id="cream-cheese-tab" data-toggle="tab" href="#cream-cheese" role="tab" aria-selected="false">Cream cheese</a>
			  </li>
			  <li class="nav-item">
				 <a class="nav-link" id="omelette-tab" data-toggle="tab" href="#omelette" role="tab" aria-selected="false">Omelettes</a>
			  </li>
			  <li class="nav-item">
				 <a class="nav-link" id="beverage-bakery-tab" data-toggle="tab" href="#beverage-bakery" role="tab" aria-selected="false">Beverages & Bakery</a>
			  </li>
			  <li class="nav-item">
				 <a class="nav-link" id="deli-tab" data-toggle="tab" href="#deli" role="tab" aria-selected="false">Appetizing</a>
			  </li>
		   </ul>
		</div>
		
		<%= render 'bagel-tab' %>
			  
		<%= render 'cream-cheese-tab' %>
			  
		<%= render 'beverage-bakery-tab' %>
		
			  
			<h5>* We are a Kosher Bagel Store. This means we do not serve meat.</h5>
			<h6>Notice: Consuming raw or undercooked meats, poultry, seafood, shellfish or eggs may increase your risk of
foodborne illness.</h6>
		</div>
		
	 </div>
  </section>
</body>

