<%= render 'navigation' %>

<br><br><br>

<!-- Thank you nahian91 (https://bootsnipp.com/nahian91) at https://bootsnipp.com/snippets/aRmbz -->

<body>
	<section class="menu_list mt-60 mb-60">
	 <div class="container">
		<div class="row">
		   <div class="col-xl-12">
			  <div class="section-title text-center mb-60">
				 <!--<p>Famous for good food</p>-->
				 <h4>Our Menu</h4>
			  </div>
		   </div>
		</div>
		<div class="row">
		   <ul class="nav nav-tabs menu_tab" id="myTab" role="tablist">
			  <li class="nav-item">
				 <a class="nav-link active show" id="bagel-tab" data-toggle="tab" href="#bagel" role="tab" aria-selected="true">Bagels</a>
			  </li>
			  <li class="nav-item">
				 <a class="nav-link" id="cream-cheese-tab" data-toggle="tab" href="#cream-cheese" role="tab" aria-selected="false">Cream cheese</a>
			  </li>
			  <li class="nav-item">
				 <a class="nav-link" id="omelette-tab" data-toggle="tab" href="#omelette" role="tab" aria-selected="false">Omelettes</a>
			  </li>
			  <li class="nav-item">
				 <a class="nav-link" id="beverage-bakery-tab" data-toggle="tab" href="#beverage-bakery" role="tab" aria-selected="false">Beverages & Bakery</a>
			  </li>
			  <li class="nav-item">
				 <a class="nav-link" id="deli-tab" data-toggle="tab" href="#deli" role="tab" aria-selected="false">Deli</a>
			  </li>
		   </ul>
		</div>
		<div class="row">
		   <div class="tab-content col-xl-12" id="myTabContent">
			  <div class="tab-pane fade active show" id="bagel" role="tabpanel" aria-labelledby="bagel-tab">
							 <div class="text-center"><h4>Bagel prices are:  <i>each / dozen</i></h4></div>
							 <div class="text-center"><h6><i>* Add lox for $1! *</i></h6></div><br><br>
				 <div class="row">
					<div class="col-md-6">
					   <div class="single_menu_list">
						  <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcRAn3WVcnwZzw9r5HDVX-pQgFKVV8pD7jnaUoUxp_o76Yv9941g-_7hgstPh5Sb8eYJr6XmWtn2sd2YoOAJkdQDqrz3EjCJ&usqp=CAY" alt="Plain bagel">
						  <div class="menu_content">
							 <h4>Plain  <span>95&cent; / $10.99</span></h4>
							 <p>Buttered: add 75&cent;<br>
							 Cream cheese (plain): add 90&cent;<br>
							 Specialty cream cheese: add $2<br>
							 Fried egg: add $1.54<br>
							 Egg salad: add $2.04<br>
							 Lox & cream cheese (tomato + onion): $6.49<br>
							 American cheese: $2.99</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <img src="https://cdn.shopify.com/s/files/1/1749/6693/products/sesame-bagel_1024x1024.png?v=1531755283" alt="">
						  <div class="menu_content">
							 <h4>Sesame  <span>95&cent; / $10.99</span></h4>
							 <p>Toasted: add 25&cent;<br>
							 Buttered: add 25&cent;<br>
							 Cream cheese (any): add 50&cent;</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <img src="https://cdn.shopify.com/s/files/1/1749/6693/products/blueberry_1024x1024.jpg?v=1531755323" alt="">
						  <div class="menu_content">
							 <h4>Blueberry  <span>95&cent; / $10.99</span></h4>
							 <p>Toasted: add 25&cent;<br>
							 Buttered: add 25&cent;<br>
							 Cream cheese (any): add 50&cent;</p>
						  </div>
					   </div>
					</div>
					<div class="col-md-6">
					   <div class="single_menu_list">
						  <img src="https://cdnimg.webstaurantstore.com/images/products/large/428064/1608850.jpg" alt="">
						  <div class="menu_content">
							 <h4>Everything  <span>95&cent; / $10.99</span></h4>
							 <p>Toasted: add 25&cent;<br>
							 Buttered: add 25&cent;<br>
							 Cream cheese (any): add 50&cent;</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <img src="https://www.koerner-co.com/3058-large_default/poppy-seed-bagel.jpg" alt="Poppy seed bagel">
						  <div class="menu_content">
							 <h4>Poppy  <span>95&cent; / $10.99</span></h4>
							 <p>Toasted: add 25&cent;<br>
							 Buttered: add 25&cent;<br>
							 Cream cheese (any): add 50&cent;</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <img src="https://bagelbiz.com/wp-content/uploads/2017/06/Cin-Raison_Retouch_750x750.png" alt="">
						  <div class="menu_content">
							 <h4>Cinnamon Raisin  <span>95&cent; / $10.99</span></h4>
							 <p>Toasted: add 25&cent;<br>
							 Buttered: add 25&cent;<br>
							 Cream cheese (any): add 50&cent;</p>
						  </div>
					   </div>
					</div>
				 </div>
			  </div>
			  <div class="tab-pane fade" id="cream-cheese" role="tabpanel" aria-labelledby="cream-cheese-tab">
							 <div class="text-center"><h4>Cream cheese prices are:  <i>1/4lb / 1/2lb / 1lb</i></h4></div>
							 <div class="text-center"><h6><i>* Add lox for $1! *</i></h6></div><br><br>
				 <div class="row">
					<div class="col-md-6">
					   <div class="single_menu_list">
						  <img src="https://cdn3.volusion.com/cynq5.sc9ze/v/vspfiles/photos/BagelBarCCPlain-2.jpg?v-cache=1587532596" alt="">
						  <div class="menu_content">
							 <h4>Plain  <span>$5 / $8 / $12</span></h4>
							 <p>Plain cream cheese spread.</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <img src="https://www.mycakeschool.com/images/2019/03/Strawberry-Whipped-Cream-Cheese-Filling-image-720x540.jpg" alt="">
						  <div class="menu_content">
							 <h4>Strawberry  <span>$5 / $8 / $12</span></h4>
							 <p>Description.</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-2.jpg" alt="">
						  <div class="menu_content">
							 <h4>Scallion  <span>$5 / $8 / $12</span></h4>
							 <p>Description.</p>
						  </div>
					   </div>
					</div>
					<div class="col-md-6">
					   <div class="single_menu_list">
						  <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-5.jpg" alt="">
						  <div class="menu_content">
							 <h4>Chocolate chip  <span>$5 / $8 / $12</span></h4>
							 <p>Description.</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-3.jpg" alt="">
						  <div class="menu_content">
							 <h4>Other cream cheese...  <span>$5 / $8 / $12</span></h4>
							 <p>Description.</p>
						  </div>
					   </div>
					   <div class="single_menu_list">
						  <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-4.jpg" alt="">
						  <div class="menu_content">
							 <h4>Other cream cheese...  <span>$5 / $8 / $12</span></h4>
							 <p>Description.</p>
						  </div>
					   </div>
					</div>
				 </div>
			  </div>

		</div>
		
	 </div>
  </section>
</body>

