<!-- Footer 
<footer class="page-footer font-small blue fixed-bottom">-->
<footer class="footer">
  <!-- Copyright -->
  <div class="container text-center py-3">
    <span class="text-muted">&copy; 2020 Copyright 
    <a href="https://github.com/corey-schneider">Corey Schneider</a> - Student at <a href="https://uncc.edu">UNC Charlotte</a><br>
    <% if current_user %>
      <%= link_to "Log out", logout_path %> [<%= current_user.name %>; <%= current_user.email %>].
        <% else %>
      <p style="font-size:10px"><%= link_to "Admin log in", login_path %></p>
    <% end %></span>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
