
<div id="wrap">
    <h1>About#AboutUs</h1>
    <p>Find me in app/views/about/AboutUs.html.erb</p>
    
    <p>
                <strong><u>Business hours</u></strong>
        <table id="hours" align="center" aria-label="Business hours">
            <tbody>
            <tr>
                <td><b>DAY</b></td>
                <td><b>FROM</b></td>
                <td><b>TO</b></td>
            </tr>
            <tr id="0">
                <td>Sunday</td>
                <td>5:00am</td>
                <td>3:00pm</td>
            </tr>
            <tr id="1">
                <td>Monday</td>
                <td>5:00am</td>
                <td>3:00pm</td>
            </tr>
            <tr id="2">
                <td>Tuesday</td>
                <td>5:00am</td>
                <td>3:00pm</td>
            </tr>
            <tr id="3"> <!-- selected-day -->
                <td>Wednesday</td>
                <td>5:00am</td>
                <td>3:00pm</td>
            </tr>
            <tr id="4">
                <td>Thursday</td>
                <td>5:00am</td>
                <td>3:00pm</td>
            </tr>
            <tr id="5">
                <td>Friday</td>
                <td>5:00am</td>
                <td>3:00pm</td>
            </tr>
            <tr id="6">
                <td>Saturday</td>
                <td>5:00am</td>
                <td>3:00pm</td>
            </tr>
            </tbody>
        </table>

        <h2 id="openOrClosedh2">We are currently <span id="open_or_closed">[error loading plugin, please reload]</span>.</h2><br><br>
        </p>
        
</div>