<div class="row">
    <div class="col-lg-7 col-md-12 col-sm-12">
      <h1>About Us</h1><br><br>

        <div class="row">
          <div class="col">
      <%= image_tag("bagels/bagels-in-basket.jpg", alt:"A variety of six plain and sesame bagels in a basket", style: "margin-right:10px;margin-bottom:10px;", class: "rounded float-start img-fluid" ) %>
               <p>About us page, this text is a placeholder. </p>
          </div>
        </div>
    </div>
    
    
    <div class="col-lg-5 col-md-12 col-sm-12">
        <div id="wrap">
            <h1 align="center">Business Hours</h1><br>
        
            <p>
                <div class="table-responsive">
                <table id="hours" align="center" aria-label="Business hours">
                    <tbody>
                        <tr>
                            <td><b>DAY</b></td>
                            <td><b>FROM</b></td>
                            <td><b>TO</b></td>
                        </tr>
                        <tr id="0">
                            <td>Sunday</td>
                            <td>5:00am</td>
                            <td>3:00pm</td>
                        </tr>
                        <tr id="1">
                            <td>Monday</td>
                            <td>5:00am</td>
                            <td>3:00pm</td>
                        </tr>
                        <tr id="2">
                            <td>Tuesday</td>
                            <td>5:00am</td>
                            <td>3:00pm</td>
                        </tr>
                        <tr id="3"> <!-- selected-day -->
                            <td>Wednesday</td>
                            <td>5:00am</td>
                            <td>3:00pm</td>
                        </tr>
                        <tr id="4">
                            <td>Thursday</td>
                            <td>5:00am</td>
                            <td>3:00pm</td>
                        </tr>
                        <tr id="5">
                            <td>Friday</td>
                            <td>5:00am</td>
                            <td>3:00pm</td>
                        </tr>
                        <tr id="6">
                            <td>Saturday</td>
                            <td>5:00am</td>
                            <td>3:00pm</td>
                        </tr>
                    </tbody>
                </table></div>
                <br><br><br>
                <h2 id="openOrClosedh2" align="center">We are currently <span id="open_or_closed">[error loading plugin, please reload]</span>.</h2><br><br>
            </p>
        </div>
    </div>
    </div>