<div class="row">
    <div class="col-7">
      <h1>About Us</h1><br><br>

        <div class="row">
          <div class="col">
      <%= image_tag("bagels/bagels-in-basket.jpg", alt:"Second slide", style: "height:30vh; width:40vh;margin-right:10px;margin-bottom:10px;", class: "float-left") %>
            <!--<img src="https://images.pexels.com/photos/1289845/pexels-photo-1289845.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=320" class="float-left" style="height:150px;margin-right:10px">-->
               <p>Since our grand opening in 1980, Bagel Patch has remained family-owned serving fresh, oven-baked, and boiled bagels. 
               Our bagels have remained as Long Island's favorite spot for bagels. Words and words and words and words and words and words and words and words and 
               words and words and words and words and words and words and words and words and words and words and words and words and words and words and 
               words and words and words and words and words and words and words and words and words and words</p>
               <p>Hello, this is paragraph #2. words and words and words and words and words and words and words and 
               words and words and words and words and words and words and words and words and words and words and words and words and 
               words and words and words and words and words and words and words and words and words and words and words and words and </p>
               <p>Hi, this is paragraph #3 - blah blah words and words and </p>
          </div>
        </div>
    </div>
    
    
    <div class="col-5">
        <div id="wrap">
            <h1 align="center">Business Hours</h1><br>
        
            <p>
                <table id="hours" align="center" aria-label="Business hours">
                    <tbody>
                        <tr>
                            <td><b>DAY</b></td>
                            <td><b>FROM</b></td>
                            <td><b>TO</b></td>
                        </tr>
                        <tr id="0">
                            <td>Sunday</td>
                            <td>5:00am</td>
                            <td>3:00pm</td>
                        </tr>
                        <tr id="1">
                            <td>Monday</td>
                            <td>5:00am</td>
                            <td>3:00pm</td>
                        </tr>
                        <tr id="2">
                            <td>Tuesday</td>
                            <td>5:00am</td>
                            <td>3:00pm</td>
                        </tr>
                        <tr id="3"> <!-- selected-day -->
                            <td>Wednesday</td>
                            <td>5:00am</td>
                            <td>3:00pm</td>
                        </tr>
                        <tr id="4">
                            <td>Thursday</td>
                            <td>5:00am</td>
                            <td>3:00pm</td>
                        </tr>
                        <tr id="5">
                            <td>Friday</td>
                            <td>5:00am</td>
                            <td>3:00pm</td>
                        </tr>
                        <tr id="6">
                            <td>Saturday</td>
                            <td>5:00am</td>
                            <td>3:00pm</td>
                        </tr>
                    </tbody>
                </table>
                <br><br><br>
                <h2 id="openOrClosedh2" align="center">We are currently <span id="open_or_closed">[error loading plugin, please reload]</span>.</h2><br><br>
            </p>
        </div>
    </div>
    
</div>